{% extends 'forensic/forensic_base.html' %} 
{% block title %} Accepted Request {%endblock title %}
{% block nav %}  {% endblock nav %} 

{% block body %}
<!-- /. NAV SIDE  -->
<div id="page-wrapper">
  <div id="page-inner">
    <div class="row">
      <div class="col-md-12">
        <h2>Forensic Dashboard</h2>
        <h4>
          Welcome {{user.first_name}} {{user.last_name}}, Love to see you back.
        </h4>
      </div>
    </div>
    <!-- /. ROW  -->
    <hr />



    <div class="row">
      <div class="col-md-12">
        <!-- Advanced Tables -->
        <div class="panel panel-default">
          <div class="panel-heading">Accepted Requests Of Patients</div>
          <div class="panel-body">
            <div class="table-responsive">
              <table
                class="table table-striped table-bordered table-hover"
                id="dataTables-example"
              >
                <thead>
                  <tr>
                    <th style="width: 600px">X-RAY Image</th>
                    <th>Username</th>
                    <th>Full Name</th>
                    <th>Date/Time</th>
                    <th >Description</th>
                    
                    <th>Report</th>
                    
                    <th>Remove</th>
                  </tr>
                </thead>
                <tbody>
                  {% if AcceptedRequest is not None %}
                   {% for m in AcceptedRequest %}
                  <tr class="gradeA">
                    <td>
                      <img onclick="imageView('{{m.image.url}}')" class="image-uploaded" src="{{m.image.url}}" />
                    </td>
                    <td>{{m.user}}</td>
                    <td>{{m.user.first_name}} {{m.user.last_name}}</td>
                    <td>{{m.date}}</td>
                    {% comment %}
                    <td>{{patient.image.url}} /></td>
                    {% endcomment %}
                    <td>{{m.desc}}</td>
                    
                    <td>
                      <p title="Accept">
                        <a
                          href="FormPageForForensicAgent/{{m.user.id}}"
                          class="myButton"
                          ><span>Send Report</span></a
                        >
                      </p>
                    </td> 
                       <td><p  title="Delete"><a href="forensic_delete/{{m.id}}" class="myButton" ><span class="glyphicon glyphicon-floppy-remove"> </span> </a></p></td>  
                  </tr>
                  {% endfor %}
                   {% endif %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!-- /. WRAPPER  -->


               
{% if messages %}
{% for message in messages %}        
<script>

Swal.fire({
  position: 'top-center',
  icon: 'error',
  title: 'Deleted',
  showConfirmButton: false,
  timer: 1500,
  backdrop: `
    rgba(0,0,123,0.4)
  `
})
  
</script>
{% endfor %}
{% endif %}  

        {% endblock body %}
      </div>
    </div>
  </div>
</div>
