{% extends 'base.html' %}

{% block title %} Login {% endblock title %}
{% block nav %}
                    <ul class="nav">
                             <li><a href="/index" >Home</a></li>
                            <li><a href="/#features " >About</a></li>
                            <li><a href="/#doctors"> <b>Doctors</b> </a></li>
                            <li><a href="/#pricing-plans">Services</a></li>
                            <li><a href="/#work-process">Work Process</a></li>
                            <li><a href="/#Forensics">Forensics</a></li>
                            <li><a href="/#contact-us">Contact Us</a></li>
                            <li><a href="/accounts/registration "><b class="getstarted">Register </b></a></li>
                        </ul>
 
{% endblock nav %}

{% block body %}
   <!-- ***** Contact Us Start ***** -->
        <section class="section colored" id="contact-us">
            <div class="container">
                <!-- ***** Section Title Start ***** -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="center-heading">
                            <h2 class="section-title">Login Now</h2>
                        </div>
                    </div>
                    <div class="offset-lg-3 col-lg-6">
                        <div class="center-text">
                            <p>Login to access full features of our services</p>
                        </div>
                    </div>
                </div>
         

                    <!-- ***** Contact Text End ***** -->
                
          
                <!-- ***** Contact Form Start ***** -->
                <div class="center-div col-lg-8 col-md-6 col-sm-12 ">
                    <div class="contact-form">

       <div clas="row">
              <div  clas="col-md-8">
                {% if messages %}
                  {% for message in messages %}
                   <div class= "alert text-center alert-{{ message.tags }} alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" > <span aria-hidden="hidden"> &times;</span> </button>
                      {{ message }}
                      </div>
                    {% endfor %}
                  {% endif %}
        </div>
        </div>

                        <form id="contact" action="login" method="POST">
                        {% csrf_token %}
                          <div class="row custom-center-fields ">
                            <div class="col-lg-6 col-md-12 col-sm-12  ">
                              <fieldset >
                                <input name="username" type="text" class="  form-control" id="name" placeholder="Username" required="">
                              </fieldset>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12">
                              <fieldset>
                                <input name="password" type="password" class="form-control" id="password" placeholder="Password" required="">
                              </fieldset>
                            </div>
                           
                            <div class="col-lg-12">
                              <fieldset>
                                <button type="submit" id="form-submit" class="button-settings">Login</button>
                                
                              </fieldset>
                            </div>
                            <div class="col-lg-12 center-text">
                              <fieldset>
                                <small><a href="reset_password" target="_blank" class=""> Forget Password? </a>  <br> <a href="registration" class=""> Sign Up </a> </small>
                                
                              </fieldset>
                            </div>
                          </div>
                        </form>
                    </div>
                </div>
                <!-- ***** Contact Form End ***** -->
            </div>
        </div>
    </section>



{% endblock body %}